{% load static %}
{% load bootstrap5 %} 
{% bootstrap_css %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Vehículos App</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    
    
    
    {% block nav %} 
        {% include 'menu.html' %} 

    {% endblock nav %} 

    {% block content %} 

    {% endblock content %} 

    {% block footer %} 
    {% endblock footer %} 

    {% bootstrap_javascript %} 
    {% bootstrap_messages %} 
</body>
</html>